[user]
	email = cicloid@42fu.com
	name = Gustavo Barron
[credential]
	helper = osxkeychain
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = "Kaleidoscope"
[merge]
  tool = "Kaleidoscope"
[color]
  ui = auto # covers diff = true, status = auto, branch = auto
  interactive = auto
[core]
  excludesfile = .git/gitignore
  quotepath = false
  editor = vim
[heroku]
	account = personal
[hub]
  protocol = https
[alias]
  ribbon = tag --force _ribbon origin/master
  catchup = log --patch --reverse --topo-order _ribbon..origin/master
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg = !"git lg1"
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  b = branch
  ds = diff --stat=160,120
  dh1 = diff HEAD~1

    # Divergence (commits we added and commits remote added)
  div = divergence

    # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

    # Fancy logging.
    #   h = head
    #   hp = head with patch
    #   r = recent commits, only current branch
    #   ra = recent commits, all reachable refs
    #   l = all commits, only current branch
    #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
	fpush = "!git push -f origin \"$(git rev-parse --abbrev-ref HEAD)\""

[push]
  default = matching
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[ghi]
	editor = vim
	token = !security find-internet-password -a cicloid -s github.com -l 'ghi token' -w
[ghi "highlight"]
	style = colorful

# Secrets from Git, removed from dotfiles for security
[include]
  path=~/.gitconfig.secrets

[commit]
	gpgsign = false
