[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/cicloid/prezto.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "bitbar/plugins"]
	path = bitbar/plugins
	url = https://github.com/matryer/bitbar-plugins.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
