custom/zsh

*vim/.vim/backups
*vim/.vim/view
*un~
*vim/.vim/.netrwhist
*vim/.vim/tmp
vim/.vim/spell
vim/.vim/after/.vimrc.after
vim/.vim/.plugs.local
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/sessions
vim/..netrwhist
bin/subl
tags
